.react-calendar {
    width: 500px;
    max-width: 90%;
    /* height: 300px; */
    border-radius: 20px;
    border: 1px solid #c2c2c2a2;
    padding: 5px;
    font-family: 'S-CoreDream-4Regular';
}

.react-calendar__navigation {
    margin-bottom: 5px;
}

button {
    border-style: none;
    padding: 5px;
    margin: 10px 0;
    background-color: transparent;
    font-size: 15px;
}

abbr[title] {
    text-decoration: none;
    font-size: 14px;
}

.react-calendar__month-view__weekdays {
    margin: 5px 0;
    border-bottom: 1px solid #606060;
}

.react-calendar__month-view__weekdays__weekday {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__tile--now {
    background-color: #c2c2c2a2;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active, .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background-color: #7078a0;
    opacity: 0.8;
}

.react-calendar__month-view__days__day--weekend {
    color: #000;
}

.react-calendar__month-view__days button:nth-child(7n+1) {
    color: #de0501;
}

.react-calendar__month-view__days button.react-calendar__month-view__days__day--neighboringMonth {
    color: #969696a2;
}

.todo-date {
    margin-top: 30px;
}